.profile{
  margin-top: 21px;
}

.profile__wrapper{
  background: radial-gradient(85.43% 1678.66% at 98.07% 50%, #2F2F2F 0%, #171717 100%);
  box-shadow: 0px 4px 73px rgba(0, 0, 0, 0.25);
  padding-top: 39px;
  padding-left: 96px;
  padding-bottom: 44px;
  background-image: url("../../assets/images/user-bg.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contianer;
  margin-bottom: 17px;
}

.profile__img-box{
  margin-right: 18px;
}

.profile__img-holder{
  width: 170px;
  height: 170px;
  position: relative;
  margin-bottom: 11px;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile__star-box{
  width: 45px;
  height: 45px;
  background: #1d1d1d;
  border: 2px solid #c9ac8c;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;

  .bx{
    color: #c9ac8c;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.profile__entry{
  font-size: 22px;
  line-height: 144.4%;
  color: #c9ac8c;
  text-align: center;
  margin-bottom: 7px;
}

.profile__books{
  font-size: 22px;
  line-height: 144.4%;
  color: #fff;
  text-align: center;
}

.profile__name{
  font-size: 32px;
  line-height: 144.4%;
  color: #c9ac8c;
}

.profile__date{
  font-size: 22px;
  line-height: 144.4%;
  color: #fff;
}

.profile__num{
  color: #ffffff80;
  margin-left: 5px;
}

.save__left{
  color: #fff;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c9ac8c;
  border-radius: 10px;
}

.save__right{
  height: 850px;
  overflow: scroll;

  &::-webkit-scrollbar{
    width: 0;
  }
}

.save__list{
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 47px;
}

.save__item{
  &:not(:last-child){
    margin-right: 69px;
  }
}

.save__btn{
  font-size: 20px;
  line-height: 20px;
  color: #ffffff99;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;

  &.active{
    color: #c9ac8c;
  }

  &:hover{
    color: #c9ac8c;
  }
}

.save__product-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}